<h2>Detalle del artículo</h2>

<div>
  <p><strong>Título:</strong></p>
  <p><%= @article.title %></p>
</div>
<div>
  <p><strong>Texto del artículo:</strong></p>
  <p><%= @article.body %></p>
</div> 

<h2>Add a comment:</h2>

<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <div>
    <p><%= form.label :commenter %><br></p>
    <p><%= form.text_field :commenter %></p>
  </div>
  <div>
    <p><%= form.label :body %><br></p>
    <p><%= form.text_area :body %></p>
  </div>
  <div>
    <%= form.submit %>
   </div>
<% end %>

<div>
  <%= link_to 'Edit', edit_article_path(@article) %>
  <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?'} %>
</div>  


<!-- <ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Delete", article_path(@article),
                  method: :delete,
                  data: { confirm: "¿Are you sure?" } %></li>
</ul>también puede ir así-->

