<h2>Detalle del artículo</h2>
<div>
  <p><strong>Título:</strong></p>
  <p><%= @article.title %></p>
</div>
<div>
  <p><strong>Texto del artículo:</strong></p>
  <p><%= @article.body %></p>
</div> 

<h2>Comentarios</h2>
<%= render @article.comments %>


<h3>Add a comment:</h3>
<%= render 'comments/form' %>

<div>
  <%= link_to 'Edit', edit_article_path(@article) %>
  <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?'} %>
</div>  


<!-- <ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Delete", article_path(@article),
                  method: :delete,
                  data: { confirm: "¿Are you sure?" } %></li>
</ul>también puede ir así-->

